p{
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.card {
    background: linear-gradient(135deg, rgb(40, 37, 39), rgb(25, 77, 189));
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(20% - 20px);
    box-sizing: border-box;
}

.card p {
    color: white;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 20px);
    }
}